{{!-- google authentication card with red button --}}
<div class="card">
    <div class="card-content"> 
         {{!-- icon of book --}}
        <i class="fas fa-book fa-3x"></i>
        {{!-- title "Księgarnia" --}}
        <span class="card-title">Księgarnia</span>
      
        {{!-- google authentication button--}}
        <a class="waves-effect waves-light btn red" href="/auth/google">
            <i class="fab fa-google"></i>
            Login with Google
        </a>
    </div>
</div>




